@media (min-width: 800px) {
  
}

body {
  background-color: white;
  margin: 0;
  height: 100%;
}

.container {
  margin-top: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



h1 {
  font-size: 40px;
  text-align: center;
}

/* Navbar Section */

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  height: 42px;
  margin-left: 0;
  border-bottom: 1px #e2e2e2 solid;
  z-index: 1;
  top: 0;
}

.left-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8%;
}

.left-logos a {
    color: black;
    margin-right: 30px;
}

.main-logo {
  margin-left: 116.594px;
}

.main-logo img {
  padding-top: 10px;
  width: 200px;
  height: 25px;
}

.right-buttons {
  display: flex;
  justify-content: center;
  margin-right: 8%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.right-buttons button {
  cursor: pointer;
  background-color: rgb(86, 123, 149);
  color: white;
  border-radius: 3px;
  text-align: center;
  padding: 10px 15px 8px 15px;
  border: 0;
  margin-left: 10px;
  font-size: 10.5px;
}

/* End of Navbar Section */

/* Main Page Section */

.section-1 {
  width: 600px;
}

.image-container img {
  width: 600px;
  height: auto;
}

.section-2 {
  width: 600px;
  display:flex; 
}

.suscribe {
  text-align: center;
}

.aside {
  background-color: green;
  width: 280px;
  flex: 1;
}

.img-text div {
  display: flex;
}

.img-text img {
  width: 70px;
  height: 70px;
  padding: 10px;
}
.img-text a {
  float: right;
  padding: 10px;
  text-decoration: none;

}
