@media (min-width: 800px) {
  
}

body {
  background-color: white;
  margin: 0;
  height: 100%;
}

.container {
  margin-top: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 40px;
  text-align: center;
}

/* Navbar Section */

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  height: 42px;
  margin-left: 0;
  border-bottom: 1px #e2e2e2 solid;
  z-index: 1;
  top: 0;
}

.left-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8%;
}

.left-logos a {
    color: black;
    margin-right: 30px;
}

.main-logo {
  margin-left: 116.594px;
}

.main-logo img {
  padding-top: 10px;
  width: 200px;
  height: 25px;
}

.right-buttons {
  display: flex;
  justify-content: center;
  margin-right: 8%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.right-buttons button {
  cursor: pointer;
  background-color: rgb(86, 123, 149);
  color: white;
  border-radius: 3px;
  text-align: center;
  padding: 10px 15px 8px 15px;
  border: 0;
  margin-left: 10px;
  font-size: 10.5px;
}

/* End of Navbar Section */

/* Main Page Section */

.main-section {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container {
  margin-bottom: 30px;
}

.image-container img {
  width: 1200px;
  height: auto;
}

.social-media-buttons {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 0;
  margin-right: 10px;
}

.image-container div p {
  color: #666;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
}

.suscribe {
  text-align: center;
  color: #333;
}

.subscribe-container-top-border {
  border: 1px solid rgb(204, 204, 204);
  width: 72px;
  margin: 0 auto 18px;
}

.subscribe-container-bottom-border {
  border: 1px solid rgb(204, 204, 204);
  width: 72px;
  margin: 18px auto 0;
}

.subscribe span {
  text-align: center;
}

.subscribe span p {
  font-size: 16px;
  line-height: 5px;
}

.subscribe span p a {
  text-decoration: none;
  color: rgb(50, 104, 145);
  font-size: 16px;
  line-height: 5px;
}

.aside {
  position: absolute;
  top: 2000px;
  right: 17%;
  width: 12%;
}

.aside h2 {
  color: black;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.img-text div {
  display: flex;
}

.img-text div img {
  width: 70px;
  height: 70px;
  padding: 10px;
}
.img-text div a {
  color: rgb(51, 51, 51);
  font-size: 14px;
  line-height: 17px;
  padding: 10px;
  text-decoration: none;
  font-weight: 500;
  padding-bottom: 0px;
  border-bottom: none;
}

.text-box {
  width: 50%;
}

.text-box p a {
  color: #326891;
}

.text-box p {
  font-family: nyt-imperial, georgia,'times new roman',times,serif;
  font-size: 1.25rem;
  line-height: 1.875rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #333;
}

.data-icons {
  display: flex;
  justify-content: space-between;
}

.data-icons span p {
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-weight: 500;
  color: #333;
  font-size: 0.8125rem;
  line-height: 1rem;
  margin: 0;
  padding: 0;
  border: 0;
}

.text-image-container {
  height: 100%;
  width: 1000px;
}

.text-image-container img {
  width: 1000px;
  height: auto;
}

.video-container {
  margin-top: 40px;
  text-align: left;
  margin-bottom: 40px;
}

.video-container div {
  max-width: 85%;
}

.video-container div p {
  color: #666;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
}

.telescope-image-container {
  height: 100%;
  width: 800px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.telescope-image-container img {
  height: auto;
  width: 800px;
}

.telescope-image-container div {
  max-width: 90%;
}

.telescope-image-container div p {
  color: #666;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
}

.main-section-footer-text {
  margin-bottom: 30px;
}

.main-section-footer-text p {
  color: rgb(102, 102, 102);
  font-size: 0.75rem;
  line-height: 1rem;
}

.main-section-footer-text p a {
  color: rgb(102, 102, 102);
}

.comment-button {
  cursor: pointer;
  background-color: rgb(86, 123, 149);
  color: white;
  border-radius: 3px;
  text-align: center;
  padding: 10px 55px 8px 55px;
  border: 0;
  margin-left: 5px;
  font-size: 10.5px;
}

.icons-bttns {
  display: flex;
  justify-content: space-between;
}